<div style="padding-top: 10%;">

</div>

      <div class="forgot-password-container">
        <h2>Forgot Password</h2>
        <div class="instructions">
          <p>Please enter your username and then check your email for the temporary password.</p>
          <p style="color: red;"  *ngIf="this.error">{{this.message}}</p>

        </div>
        <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
          <div class="form-group">
            <label for="username">Username:</label>
            <input
              type="text"
              id="username"
              name="username"
              [(ngModel)]="username"
              required
              class="form-control"
              placeholder="Enter your username"
            />
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!forgotPasswordForm.form.valid || loading">
            Submit
          </button>
        </form>
        <div *ngIf="loading" class="loading-indicator">
          Loading...
        </div>
      </div>
      <!-- Popup overlay -->
  <div *ngIf="showPopup" class="popup-overlay">
    <div class="popup-message">
      <p>Reset successful!, Check your email</p>
    </div>
  </div>