<div class="container">
    <h2>Employees</h2>
    <a class="btn btn-primary" routerLink="/component/hire-employee/0" routerLinkActive="active" >
      Hire Employee
    </a> |
     <!-- Export to JSON Button -->


  <button  class="btn btn-secondary" (click)="exportToJson()">Export to JSON</button>
  <br>
  <br>

    <table datatable [dtOptions]="dtOptions" *ngIf="employee.length>0"  class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Email</th>
          <th>Contact</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employee">

          <td>{{ employee.adminName }}</td>
          <td>{{ employee.adminSurname }}</td>
          <td>{{ employee.adminEmail }}</td>
          <td>{{ employee.adminPhone }}</td>
         
        </tr>
      </tbody>
    </table>
  </div>
  