.order-history-container {
    margin: 20px;
  }
  
  .order-details {
    display: flex;
    flex-direction: column;
  }
  
  .order-details h5 {
    margin: 0;
    font-weight: bold;
  }
  
  .order-details p {
    margin: 5px 0;
  }
  
  .order-history-container {
    margin: 20px;
  }
  
  .order-details {
    display: flex;
    flex-direction: column;
  }
  
  .order-details h5 {
    margin: 0;
    font-weight: bold;
  }
  
  .order-details p {
    margin: 5px 0;
  }
  
  .rating span {
    color: gold;
    font-size: 1.5em;
    cursor: pointer;
  }
  
  .rating span.filled {
    color: gold;
  }
  
  
  .rating-legend {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .rating-legend h3 {
    margin-top: 0;
  }
  
  .rating-legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .rating-legend li {
    margin-bottom: 5px;
  }
  
  .rating-legend .star {
    color: gold;
    font-size: 1.2em;
    margin-right: 5px;
  }

  #notification {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }
  
  #notification.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  