<div class="container">
  <a href="javascript:void(0)" (click)="openHelpModal()" style="position:absolute; right: 0; top: 30px;">Help</a>
  <h2>Check In</h2>

  <div class="center-container"></div>
  <webcam
  [trigger]="triggerObservable"
  (imageCapture)="handleImage($event)"
></webcam>
<br/>
<button  class="btn btn-primary"  (click)="triggerSnapshot()">
  <i class="bi bi-camera"></i> Check-in
</button>
</div>
 

  <!-- Notification -->
  <div id="notification" [class.show]="showNotification">
    {{ notificationMessage }}
  </div>
 <!-- Help Modal -->
 <div class="modal" [ngClass]="{'show': showHelpModal}">
  <div class="modal-content">
    <span class="close" (click)="closeHelpModal()">&times;</span>
    <h2>Help- Check In</h2>
    <p>This page allows you to check in event attendees on event day.</p>
        <ul>
          <li>Enter the ticket barcode either by manually typing it on the input box or by using the keyboard/touchpad on screen</li>
          <li>Click on the <strong>"Check in"</strong>button to check in the attendee. A successful check-in client message will appear </li>
          <li>Please note that you won't be able to check in the same ticket twice. An error message will appear.</li>

        </ul>
  </div>
</div>

<style>
  .center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  }

  .help-text {
    cursor: pointer;
    color: #007bff;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .help-icon {
    margin-right: 5px;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
  }
  
  .modal.show {
    display: flex; /* Show modal */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    border: 1px solid #888;
    width: 80%; /* Smaller width */
    max-width: 600px; /* Maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* To position the close button */
  }
  
  .close {
    color: #aaa;
    position: absolute; /* Position relative to modal content */
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
 
  </style>
  
  
