<div class="container">
  <a href="javascript:void(0)" (click)="openHelpModal()" style="position:absolute; right: 0; top: 30px;">Help</a>
  <h2>Check In</h2>
  <form [formGroup]="checkInForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="barcode">Barcode</label>
      <input type="text" id="barcode" formControlName="barcode" class="form-control" />
      <div *ngIf="checkInForm.get('barcode')?.invalid && (checkInForm.get('barcode')?.dirty || checkInForm.get('barcode')?.touched)" class="invalid-feedback">     
        Barcode is invalid
      </div>
    </div>

    <div class="numpad-container">
      <div class="numpad">
        <button *ngFor="let num of numbers" (click)="appendNumber(num)">{{ num }}</button>
        <button (click)="clearInput()" aria-label="Clear input">Clear</button>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="checkInForm.invalid">Check In</button>
  </form>
  <div id="notification" [class.show]="showNotification">
    {{ notificationMessage }}
  </div>

  <!-- Attendee Details Modal -->
  <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'show': showAttendeeModal}" style="display: block;" *ngIf="showAttendeeModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Enter Attendee Details</h5>
          <button type="button" class="close" (click)="closeAttendeeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="attendeeForm">
            <div class="form-group">
              <label for="attendeeName">Name</label>
              <input type="text" id="attendeeName" formControlName="attendeeName" class="form-control" />
            </div>
            <div class="form-group">
              <label for="attendeeSurname">Surname</label>
              <input type="text" id="attendeeSurname" formControlName="attendeeSurname" class="form-control" />
            </div>
            <div class="form-group">
              <label for="attendeeEmail">Email</label>
              <input type="email" id="attendeeEmail" formControlName="attendeeEmail" class="form-control" />
            </div>
            <div class="form-group">
              <label for="attendeePhone">Phone</label>
              <input type="text" id="attendeePhone" formControlName="attendeePhone" class="form-control" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="submitAttendeeDetails()">Submit</button>
          <button type="button" class="btn btn-secondary" (click)="closeAttendeeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

 <!-- Help Modal -->
 <div class="modal" [ngClass]="{'show': showHelpModal}">
  <div class="modal-content">
    <span class="close" (click)="closeHelpModal()">&times;</span>
    <h2>Help- Check In</h2>
    <p>This page allows you to check in event attendees on event day.</p>
        <ul>
          <li>Enter the ticket barcode either by manually typing it on the input box or by using the keyboard/touchpad on screen</li>
          <li>Click on the <strong>"Check in"</strong>button to check in the attendee. A successful check-in client message will appear </li>
          <li>Please note that you won't be able to check in the same ticket twice. An error message will appear.</li>

        </ul>
  </div>
</div>

<style>
  .help-text {
    cursor: pointer;
    color: #007bff;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .help-icon {
    margin-right: 5px;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
  }
  
  .modal.show {
    display: flex; /* Show modal */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    border: 1px solid #888;
    width: 80%; /* Smaller width */
    max-width: 600px; /* Maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* To position the close button */
  }
  
  .close {
    color: #aaa;
    position: absolute; /* Position relative to modal content */
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
 
  </style>
  
  
