<div class="container">
    <h5 style="text-align: center;">{{ heading }}</h5>
    <form #sponsorForm="ngForm" (ngSubmit)="addSponsor(sponsorForm)" novalidate>

        <div style="margin-bottom: 10px;">
            <label for="sponsorName">Name</label>
            <input id="sponsorName" class="form-control" type="text" name="name" [(ngModel)]="newSponsor.sponsorName" #sponsorName="ngModel" required title="Please enter a sponsor name">
            <div *ngIf="sponsorName.invalid && sponsorName.touched" class="text-danger">
                Sponsor name is required.
            </div>
        </div>

        <div style="margin-bottom: 10px;">
            <label for="sponsorDescription">Description</label>
            <input id="sponsorDescription" class="form-control" type="text" name="description" [(ngModel)]="newSponsor.sponsorDescription" #sponsorDescription="ngModel" required title="Please enter a description">
            <div *ngIf="sponsorDescription.invalid && sponsorDescription.touched" class="text-danger">
                Sponsor description is required.
            </div>
        </div>

        <div style="margin-bottom: 10px;">
            <label for="sponsorEmail">Email</label>
            <input id="sponsorEmail" class="form-control" type="email" name="email" [(ngModel)]="newSponsor.sponsorEmail" #sponsorEmail="ngModel" required title="Please enter an email">
            <div *ngIf="sponsorEmail.invalid && sponsorEmail.touched" class="text-danger">
                Please enter a valid email.
            </div>
        </div>

        <div style="margin-bottom: 10px;">
            <label for="sponsorPhone">Phone</label>
            <input 
              id="sponsorPhone" 
              class="form-control" 
              type="text" 
              name="phone" 
              [(ngModel)]="newSponsor.sponsorPhone"  
              #sponsorPhone="ngModel" 
              required 
              pattern="^\d{10}$" 
              minlength="10" 
              maxlength="10" 
              title="Please enter a valid 10-digit phone number">
            
            <div *ngIf="sponsorPhone.invalid && sponsorPhone.touched" class="text-danger">
              <div *ngIf="sponsorPhone.errors?.['required']">Phone number is required.</div>
              <div *ngIf="sponsorPhone.errors?.['minlength'] || sponsorPhone.errors?.['maxlength']">
                Phone number must be exactly 10 digits long.
              </div>
            </div>
          </div>
          

        <div style="text-align: center;">
            <button type="button" class="btn btn-secondary" style="margin-right: 10px;" (click)="router.navigate(['/component/sponsor-list'])">Close</button>
            <button type="submit" class="btn btn-primary" [disabled]="!sponsorForm.form.valid">Save</button>
        </div>
    </form>
</div>
