<div>
  <br/>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-2">
        <a href="javascript:void(0)" (click)="openHelpModal()" style="position:absolute; right: 0; top: 30px;">Help</a>
        <h1 style="color: #FF5F00;">Frequently Asked Questions</h1>
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="container">
  <table datatable [dtOptions]="dtOptions" *ngIf="faqs.length>0" class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let faq of faqs">
        <td>{{ faq.question}}</td>
        <td>{{ faq.answer }}</td>
        <td>
          <a *ngIf="faq.answer=='Pending'" class="btn btn-primary" [routerLink]="['/component/faq-create-update', faq.faqId]" >Answer Question</a>
          <a *ngIf="faq.answer!='Pending'" class="btn btn-primary" [routerLink]="['/component/faq-create-update', faq.faqId]" >Update Answer</a>
          <button class="btn btn-primary" (click)="deleteById(faq.faqId)" type="button" class="btn btn-danger" style="margin-left:62%;">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

      <!-- Help Modal -->
<div class="modal" [ngClass]="{'show': showHelpModal}">
  <div class="modal-content">
    <span class="close" (click)="closeHelpModal()">&times;</span>
    <h2>Help-FAQ list</h2>
    <p>This page allows you to manage FAQ's within the system. Here are the available actions:</p>
        <ul>
          <li>The table below displays all the FAQ currently in the system, including the question and answer.</li>
          <li><strong>Answer Question:</strong> Click on the <em>"Answer Question"</em> button to add an answer to a question. This will redirect you to the form where you can enter the details for the answer to the question.</li>
          <li><strong>Delete FAQ:</strong> To delete a FAQ, click on the <em>"Delete"</em> button next to the corresponding FAQ. A confirmation dialog may appear to ensure you want to proceed with the deletion. Note that this action is irreversible.</li>
        </ul>
  </div>
</div>
</div>

<style>
  .help-text {
    cursor: pointer;
    color: #007bff;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .help-icon {
    margin-right: 5px;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
  }
  
  .modal.show {
    display: flex; /* Show modal */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    border: 1px solid #888;
    width: 80%; /* Smaller width */
    max-width: 600px; /* Maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* To position the close button */
  }
  
  .close {
    color: #aaa;
    position: absolute; /* Position relative to modal content */
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
  .rating-legend,
  .order-details {
    padding: 10px; /* Add some padding */
  }
  
  </style>
  



