<div>
  <br/>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-2">
        <h1 style="color: #FF5F00;">Frequently Asked Questions</h1>
      </div>
      <div class="col-md-2" style="padding-top: 1%;">
       <!-- Button trigger modal -->
        <a class="btn btn-primary" routerLink="/faq-create-update/0" routerLinkActive="active" >
          Add New
        </a>
      </div>
      <div class="col-md-4 offset-md-3" style="padding-top: 1%;">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchTerm"
          (input)="filterFaqs()">
      </div>
    </div>
  </div>
  <br/>
  <br/>

  <div class="container">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let faq of faqs">
        <td>{{ faq.Question}}</td>
        <td>{{ faq.Answer }}</td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/faq-create-update', faq.faqId]" >Edit</a>
          <button (click)="deleteById(faq.faqId)" type="button" class="btn btn-danger" style="margin-left:62%;">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
