<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Availability</th>
      <th>Condition</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let equipment of equipments">
      <td>{{ equipment.equipmentId }}</td>
      <td>{{ equipment.equipmentName }}</td>
      <td>{{ equipment.equipmentDescription }}</td>
      <td>{{ equipment.equipmentAvailability }}</td>
      <td>{{ equipment.equipmentCondition }}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/manageequipments', equipment.equipmentId]">Edit</a> |
        <button class="btn btn-primary" (click)="deleteEquipment(equipment.equipmentId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>