<div class="container">
  <h2>Equipment</h2>
  <a class="btn btn-primary" routerLink="/equipment-create-update/0" routerLinkActive="active" >
    Add New
  </a>
  <table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Availability</th>
      <th>Equipment Type</th>
      <th>Condition</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let equipment of equipments">
      <td>{{ equipment.equipmentName }}</td>
      <td>{{ equipment.equipmentDescription }}</td>
      <td>{{ equipment.equipmentAvailability }}</td>
      <td>{{ getEquipmentTypeDescription(equipment.equipmentTypeId) }}</td>
      <td>{{ equipment.equipmentCondition }}</td>
      <td> <img [src]="equipment.equipmentImage" alt="Equipment Image" style="max-width: 100px; height: auto;"></td>
      <td>
        <a class="btn btn-primary" [routerLink]="['/equipment-create-update', equipment.equipmentId]">Edit</a> |
        <button class="btn btn-primary" (click)="deleteEquipment(equipment.equipmentId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

</div>
