<div class="container">
    <h5 style="text-align: center;">{{ heading }}</h5>
    <form #eventForm="ngForm" (ngSubmit)="addEvent(eventForm)" novalidate>
      <div style="margin-bottom: 10px;">
        <label for="eventName">Name</label>
        <input id="eventName" class="form-control" type="text" name="name" [(ngModel)]="newEvent.title" required title="Please enter an event name">
      </div>
  
      <div style="margin-bottom: 10px;">
        <label for="eventDate">Date</label>
        <input id="eventDate" class="form-control" type="date" name="date" [(ngModel)]="newEvent.eventDate" required title="Please enter a date">
      </div>
  
      <div style="margin-bottom: 10px;">
        <label for="eventTime">Time</label>
        <input id="eventTime" class="form-control" type="time" name="time" [(ngModel)]="newEvent.eventTime" required title="Please enter a time">
      </div>
  
      <div style="margin-bottom: 10px;">
        <label for="eventDescription">Description</label>
        <input id="eventDescription" class="form-control" type="text" name="description" [(ngModel)]="newEvent.description" required title="Please enter a description">
      </div>
  
      <div style="margin-bottom: 10px;">
        <label for="eventType">Type</label>
        <input id="eventType" class="form-control" type="text" name="type" [(ngModel)]="newEvent.eventType" required title="Please enter an event type">
      </div>
  
      <div style="margin-bottom: 10px;">
        <label for="eventLocation">Location</label>
        <input id="eventLocation" class="form-control" type="text" name="location" [(ngModel)]="newEvent.eventAddress" required title="Please enter a location">
      </div>

      <div style="margin-bottom: 10px;">
        <label for="eventPrice">Price</label>
        <input id="eventPrice" class="form-control" type="text" name="price" [(ngModel)]="newEvent.eventPrice" required title="Please enter a price">
      </div>

      <div style="margin-bottom: 10px;">
        <label for="eventRemainingTickets">Remaining Tickets</label>
        <input id="eventRemainingTickets" class="form-control" type="text" name="eventRemainingTickets" [(ngModel)]="newEvent.eventRemainingTickets" required title="Please enter number of tickets">
      </div>

      <div style="margin-bottom: 10px;">
        <label for="eventVenue">Select Venue</label>
        <select id="eventVenue" class="form-control" name="eventVenue" [(ngModel)]="newEvent.venueId" required>
          <option value="" disabled selected>Select a venue</option>
          <option *ngFor="let venue of venues" [value]="venue.id">{{ venue.venueName }}</option>
        </select>
      </div>


      <div class="form-group">
        <label for="image"> Image</label>
        <input type="file" id="image" class="form-control" (change)="onFileChange($event)"  accept="image/*"/>
        <div class="text-danger">
          {{this.errorMessage}}
        </div>
      </div>
      <div *ngIf="profileImagePreview">
        <img [src]="profileImagePreview" alt="Profile Image Preview" class="img-thumbnail mt-2" />
      </div>
      


      <div style="text-align: center;">
        <button type="button" class="btn btn-secondary" style="margin-right: 10px;" (click)="cancel()">Close</button>
        <input type="submit" class="btn btn-primary" [disabled]="!eventForm.form.valid" name="Save"/> 
      </div>
    </form>
  </div>
  