<div class="container">
  <h5 style="text-align: center;">{{ heading }}</h5>
  <form #eventForm="ngForm" (ngSubmit)="addEvent(eventForm)" novalidate>
    <!-- Name -->
    <div style="margin-bottom: 10px;">
      <label for="title">Name</label>
      <input id="title" class="form-control" type="text" name="title" [(ngModel)]="newEvent.title" #title="ngModel" placeholder="Enter the event name" required title="Please enter an event name">
      <div *ngIf="title.invalid && title.touched" class="text-danger">
        <small *ngIf="title.errors?.['required']">Event name is required.</small>
      </div>
    </div>

    <!-- Date -->
    <div style="margin-bottom: 10px;">
      <label for="eventDate">Date</label>
      <input id="eventDate" class="form-control" type="date" name="eventDate" [(ngModel)]="newEvent.eventDate" #eventDate="ngModel"  required title="Please enter a date">
      <div *ngIf="eventDate.invalid && eventDate.touched" class="text-danger">
        <small *ngIf="eventDate.errors?.['required']">Event date is required.</small>
      </div>
    </div>

    <!-- Time -->
    <div style="margin-bottom: 10px;">
      <label for="eventTime">Time</label>
      <input id="eventTime" class="form-control" type="time" name="eventTime" [(ngModel)]="newEvent.eventTime" #eventTime="ngModel" required title="Please enter a time">
      <div *ngIf="eventTime.invalid && eventTime.touched" class="text-danger">
        <small *ngIf="eventTime.errors?.['required']">Event time is required.</small>
      </div>
    </div>

    <!-- Description -->
    <div style="margin-bottom: 10px;">
      <label for="eventDescription">Description</label>
      <input id="eventDescription" class="form-control" type="text" name="description" [(ngModel)]="newEvent.description" #description="ngModel" placeholder="Enter the event description" required title="Please enter a description">
      <div *ngIf="description.invalid && description.touched" class="text-danger">
        <small *ngIf="description.errors?.['required']">Event description is required.</small>
      </div>
    </div>

    <!-- Type -->
    <div style="margin-bottom: 10px;">
      <label for="eventType">Type</label>
      <input id="eventType" class="form-control" type="text" name="eventType" [(ngModel)]="newEvent.eventType" #eventType="ngModel" placeholder="Enter the event type" required title="Please enter an event type">
      <div *ngIf="eventType.invalid && eventType.touched" class="text-danger">
        <small *ngIf="eventType.errors?.['required']">Event type is required.</small>
      </div>
    </div>

    <!-- Location -->
    <div style="margin-bottom: 10px;">
      <label for="eventLocation">Location</label>
      <input id="eventLocation" class="form-control" type="text" name="eventAddress" [(ngModel)]="newEvent.eventAddress" #location="ngModel" placeholder="Enter the event address" required title="Please enter a location">
      <div *ngIf="location.invalid && location.touched" class="text-danger">
        <small *ngIf="location.errors?.['required']">Event location is required.</small>
      </div>
    </div>

    <!-- Price -->
    <div style="margin-bottom: 10px;">
      <label for="eventPrice">Price</label>
      <input id="eventPrice" 
      class="form-control" 
      type="number" 
      name="eventPrice" 
      min="0"
      max="10000"
    
      [(ngModel)]="newEvent.eventPrice" 
      #price="ngModel" placeholder="Enter the event price"
      required title="Please enter a price">
      <div *ngIf="price.invalid && price.touched" class="text-danger">
        <small *ngIf="price.errors?.['required']">Event price is required.</small>
        <small *ngIf="price.errors?.['min']">Event Price cannot be negative.</small>
      </div>
      
    </div>

    <!-- Remaining Tickets -->
    <div style="margin-bottom: 10px;">
      <label for="eventRemainingTickets">Remaining Tickets</label>
      <input id="eventRemainingTickets" class="form-control" type="number" name="eventRemainingTickets" [(ngModel)]="newEvent.eventRemainingTickets" #eventRemainingTickets="ngModel" required title="Please enter the number of tickets">
      <div *ngIf="eventRemainingTickets.invalid && eventRemainingTickets.touched" class="text-danger">
        <small *ngIf="eventRemainingTickets.errors?.['required']">Number of remaining tickets is required.</small>
      </div>
    </div>

    <!-- Venue -->
    <div style="margin-bottom: 10px;">
      <label for="eventVenue">Select Venue</label>
      <select id="eventVenue" class="form-control" name="eventVenue" [(ngModel)]="newEvent.venueId" #eventVenue="ngModel" placeholder="Select a venue" required>
        <option value="" disabled selected>Select a venue</option>
        <option *ngFor="let venue of venues" [value]="venue.venueId">{{ venue.venueName }}</option>
      </select>
      <div *ngIf="eventVenue.invalid && eventVenue.touched" class="text-danger">
        <small *ngIf="eventVenue.errors?.['required']">Event venue is required.</small>
      </div>
    </div>

    <!-- Image Upload -->
    <div class="form-group">
      <label for="image">Image</label>
      <input type="file" id="image" class="form-control" (change)="onFileChange($event)" accept="image/*" #imageInput required>
      <div *ngIf="imageInputInvalid && imageInputTouched" class="text-danger">
        <small>Event image is required.</small>
      </div>
      <div class="text-danger">
        {{ this.errorMessage }}
      </div>
    </div>
    
    <!-- Image Preview -->
    <div *ngIf="profileImagePreview">
      <img [src]="profileImagePreview" alt="Profile Image Preview" class="img-thumbnail mt-2" />
    </div>

    <!-- Buttons -->
    <div style="text-align: center;">
      <button type="button" class="btn btn-secondary" style="margin-right: 10px;" routerLink="/component/event-list">Close</button>
      <input type="submit" class="btn btn-primary" [disabled]="!eventForm.form.valid" value="Save"/> 
    </div>    

  </form>
</div>
<div id="notification" [class.show]="showNotification">
  {{ notificationMessage }}
</div>
