<div class="container">
  <h2>Venues</h2>
  <a class="btn btn-primary" routerLink="/create-update/0" routerLinkActive="active">Add New</a> |
  <!-- Export to JSON Button -->
  <button class="btn btn-secondary" (click)="exportToJson()">Export to JSON</button>
  <table datatable [dtOptions]="dtOptions" *ngIf="venues.length>0"  class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Contact Person</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let venue of filterVenue">
        <td>{{ venue.venueName }}</td>
        <td>{{ venue.venueAddress }}</td>
        <td>{{ venue.venueContactPerson }}</td>
        <td>
          <a class="btn btn-primary" [routerLink]="['/create-update', venue.venueId]" routerLinkActive="active">Edit</a> |
          <button class="btn btn-danger btn-sm" (click)="deleteById(venue.venueId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
