<div class="container">
  <br/>
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-2">
        <a href="javascript:void(0)" (click)="openHelpModal()" style="position:absolute; right: 0; top: 30px;">Help</a>
        <h1 >Service</h1>
      </div>
      <div class="col-md-2" style="padding-top: 1%;">
        <!-- Button trigger modal -->
        <a class="btn btn-primary" routerLink="/component/service-create-update/0" routerLinkActive="active">
          Add New
        </a>
      </div>

    </div>
  </div>
  <br/>
  <br/>

  <div class="container">
    <table datatable [dtOptions]="dtOptions" *ngIf="services.length>0"  class="table table-striped">
      <thead class="bg-light">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of services">
          <td>{{ service.serviceName }}</td>
          <td>{{ service.serviceDescription }}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/component/service-create-update', service.id]" routerLinkActive="active">Edit</a> |
            <button (click)="deleteById(service.id)" type="button" class="btn btn-danger" style="margin-left: 10px;">Delete</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>

   <!-- Help Modal -->
<div class="modal" [ngClass]="{'show': showHelpModal}">
  <div class="modal-content">
    <span class="close" (click)="closeHelpModal()">&times;</span>
    <h2>Help-Services list</h2>
    <p>This page allows you to manage services within the system. Here are the available actions:</p>
        <ul>
          <li><strong>Add New Service:</strong> Click on the <em>"Add New"</em> button to add a new service. This will redirect you to the form where you can enter the details for a new service.</li>
          <li><strong>View Services List:</strong> The table below displays all the services currently in the system, including their name and description.</li>
          <li><strong>Edit Service:</strong> To edit a service, click on the <em>"Edit"</em> button next to the service you want to modify. This will open a form pre-filled with the services's current information.</li>
          <li><strong>Delete Service:</strong> To delete a service, click on the <em>"Delete"</em> button next to the corresponding service. A confirmation dialog may appear to ensure you want to proceed with the deletion. Note that this action is irreversible.</li>
        </ul>
  </div>
</div>
</div>

<style>
  .help-text {
    cursor: pointer;
    color: #007bff;
    font-size: 16px;
    margin-right: 20px;
  }
  
  .help-icon {
    margin-right: 5px;
  }
  
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
    z-index: 1; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
  }
  
  .modal.show {
    display: flex; /* Show modal */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  }
  
  .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    border: 1px solid #888;
    width: 80%; /* Smaller width */
    max-width: 600px; /* Maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative; /* To position the close button */
  }
  
  .close {
    color: #aaa;
    position: absolute; /* Position relative to modal content */
    top: 10px;
    right: 15px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }
  
  .rating-legend,
  .order-details {
    padding: 10px; /* Add some padding */
  }
  
  </style>
  


