<nav class="sidebar-nav">
    <ul id="sidebarnav">
      <!-- First level menu -->
      <li
        class="sidebar-item"
        *ngFor="let sidebarnavItem of sidebarnavItems"
        [class.active]="showMenu === sidebarnavItem.title"
        [routerLinkActive]="sidebarnavItem.submenu.length ? '' : 'active'"
      >
        <!-- Extra Link Section -->
        <div *ngIf="sidebarnavItem.extralink" class="nav-small-cap">
          {{ sidebarnavItem.title }}
        </div>
        
        <!-- Sidebar Link -->
        <a
          *ngIf="!sidebarnavItem.extralink"
          class="sidebar-link waves-effect waves-dark"
          [routerLink]="sidebarnavItem.class ? null : [sidebarnavItem.path]"
          [ngClass]="sidebarnavItem.class"
          (click)="addExpandClass(sidebarnavItem.title)"
          [routerLinkActive]="sidebarnavItem.submenu.length ? '' : 'active'"
        >
          <i [ngClass]="sidebarnavItem.icon"></i>
          <span class="hide-menu">{{ sidebarnavItem.title }}</span>
        </a>
      </li>
    </ul>
  </nav>
  