
<div class="container">
    <header class="header">
      <h1>Hire Service</h1>
    </header>
  
    <form [formGroup]="hireServiceForm" (ngSubmit)="onSubmit()">
      
      <p id="available-dates">Select dates for Service hire from the calendar below.</p>
  
      <div class="form-group">
        <label for="ServiceTimeslotDescription">ServiceTimeslotDescription</label>
        <input
          type="text"
          id="ServiceTimeslotDescription"
          formControlName="ServiceTimeslotDescription"
          class="form-control"
          [class.is-invalid]="hireServiceForm.get('ServiceTimeslotDescription')?.invalid && hireServiceForm.get('ServiceTimeslotDescription')?.touched"
        />
        <div *ngIf="hireServiceForm.get('ServiceTimeslotDescription')?.invalid && hireServiceForm.get('ServiceTimeslotDescription')?.touched" class="invalid-feedback">
            ServicecTimeslotcDescription is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="TimeslotId">Timeslot ID</label>
        <input
          type="text"
          id="TimeslotId"
          formControlName="TimeslotId"
          class="form-control"
         
          [class.is-invalid]="hireServiceForm.get('TimeslotId')?.invalid && hireServiceForm.get('TimeslotId')?.touched"
        />
        <div *ngIf="hireServiceForm.get('TimeslotId')?.invalid && hireServiceForm.get('TimeslotId')?.touched" class="invalid-feedback">
          Timeslot is required.
        </div>
      </div>
      
      <div class="form-group">
        <label for="ServiceId">Service ID</label>
        <input
          type="text"
          id="ServiceId"
          formControlName="ServiceId"
          class="form-control"
         
          [class.is-invalid]="hireServiceForm.get('ServiceId')?.invalid && hireServiceForm.get('ServiceId')?.touched"
        />
        <div *ngIf="hireServiceForm.get('ServiceId')?.invalid && hireServiceForm.get('ServiceId')?.touched" class="invalid-feedback">
          Service ID is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="Service">Service</label>
        <select
          id="Service"
          formControlName="Service"
          class="form-control"
          [class.is-invalid]="hireServiceForm.get('Service')?.invalid && hireServiceForm.get('Service')?.touched"
        >
          <option value="" disabled>Select Service</option>
          <option *ngFor="let option of serviceOptions" [value]="option">{{ option }}</option>
        </select>
        <div *ngIf="hireServiceForm.get('Service')?.invalid && hireServiceForm.get('Service')?.touched" class="invalid-feedback">
          Service is required.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="hireServiceForm.invalid">Submit</button>
      <button type="button" class="btn btn-secondary" (click)="onCancel()">Cancel</button>
    </form>
  
  
      <div id="notification" [class.show]="showNotification">
        {{ notificationMessage }}
  
      </div>
  </div>