<div>
  <h2>Sponsors</h2>

  <a class="btn btn-primary" routerLink="/sponsor-create-update/0" routerLinkActive="active" >
    Add New
  </a> |
  <button class="btn btn-secondary" (click)="exportToJson()">Export to JSON</button>

  <table datatable [dtOptions]="dtOptions" *ngIf="sponsors.length>0"  class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sponsor of sponsors">
        <td>{{ sponsor.sponsorId }}</td>
        <td>{{ sponsor.sponsorName }}</td>
        <td>{{ sponsor.sponsorDescription }}</td>
        <td>{{ sponsor.sponsorEmail }}</td>
        <td>{{ sponsor.sponsorPhone }}</td>
        <td>
            <a class="btn btn-primary" [routerLink]="['/sponsor-create-update',sponsor.sponsorId]" routerLinkActive="active">Edit</a> |
            <button class="btn btn-danger" (click)="deleteSponsor(sponsor.sponsorId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  