<div class="container" *ngIf="todaysBookings">
      <h2>Today's Hire Items</h2>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Item Name</th>
            <th>Status</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of todaysBookings; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.itemName }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.id }}</td>
            <td>
                <a class="btn btn-success" *ngIf="item.status == 'Hired'" (click)="CollectItem(item.id)">Collect Item</a>


            </td>
          </tr>
        </tbody>
      </table>
</div>
    
<div class="container">
      <h2>My Hire Items</h2>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Item Name</th>
            <th>Status</th>
            <th>ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of todaysBookings; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.itemName }}</td>
            <td>{{ item.status }}</td>
            <td>{{ item.id }}</td>
            <td>
                <a class="btn btn-success" *ngIf="item.status == 'Collected'" (click)="returnItem(item.id)">Return Item</a>

            </td>
          </tr>
        </tbody>
      </table>
</div>
    