<div class="background-image">
  <!-- Overlay -->
  <div id="overlay" *ngIf="isPopupVisible" class="overlay">
    <div class="card">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Enter OTP</h5>
            <h2>{{message}}</h2>
            <br/>
            <br/>
          </div>
          <div class="modal-body">
            <input type="number" [(ngModel)]="number" id="otpInput" class="form-control" placeholder="Enter OTP">
            <br>
            <button type="button" class="btn btn-secondary" (click)="closePopup()">Close</button> |
            <button type="button" class="btn btn-primary" (click)="verifyOTP()">Verify</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">

        <!-- Loading Indicator -->
        <div *ngIf="isLoading" class="loading-indicator">
          <div class="spinner"></div>
        </div>

        <section class="login-container">
          <div class="login-card">
            <!-- Company Logo -->
            <div class="logo-container text-center">
              <img src="assets/images/Protea-logo.png" alt="Protea-logo" class="Protea-logo">
            </div>

            <div class="card-header">
              <h3>Login</h3>
            </div>
            
            <div class="card-body">
              <form [formGroup]="loginForm" (ngSubmit)="authenticate()">
                <!-- Username input -->
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" id="username" class="form-control" placeholder="Enter your username" formControlName="username">
                  <div *ngIf="loginForm.controls['username']?.invalid && loginForm.controls['username']?.touched" class="error-message">
                    Username is required.
                  </div>
                </div>
                
                <!-- Password input -->
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" id="password" class="form-control" placeholder="Enter your password" formControlName="password">
                  <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="error-message">
                    Password is required.
                  </div>
                </div>
                
                <!-- Forgot Password Link -->
                <div class="form-footer">
                  <a routerLink="/forgotpassword" class="forgot-password">Forgot password?</a>
                </div>

                <!-- Login Button -->
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>

                <!-- Sign Up Link -->
                <div class="register-link">
                  <p>Don't have an account? <a routerLink="/signUp" class="link-register vivid-orange">Register</a></p>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

