<div class="container">
  <h2 style="text-align: center;">Answer Faq</h2>
  <form #FaqForm="ngForm" (ngSubmit)="addFaq(FaqForm)" novalidate>
    <div style="margin-bottom: 10px;">
      <label for="question">Question</label>
      <input 
        disabled="true"
        id="Question" 
        class="form-control" 
        type="text" 
        name="question" 
        [(ngModel)]="newFaq.question" 
        required 
        title="Please enter a question" 
        #question="ngModel" 
        [class.is-invalid]="question.invalid && (question.dirty || question.touched)">
      <div *ngIf="question.invalid && (question.dirty || question.touched)" class="invalid-feedback">
        Faq is required.Please enter a Faq.
      </div>
    </div>

    <div style="margin-bottom: 10px;">
      <label for="Answer">Answer</label>
      <input 
        id="Answer" 
        class="form-control" 
        type="text" 
        name="answer" 
        [(ngModel)]="newFaq.answer" 
        required 
        title="Please enter an answer" 
        #answer="ngModel" 
        [class.is-invalid]="answer.invalid && (answer.dirty || answer.touched)">
      <div *ngIf="answer.invalid && (answer.dirty || answer.touched)" class="invalid-feedback">
        Faq Answer required.Please enter an answer.
      </div>
    </div>

    <div style="text-align: center;">
      <button type="button" class="btn btn-secondary" style="margin-right: 10px;" (click)="router.navigate(['/component/faq-list'])">Close</button>
      <input type="submit" class="btn btn-primary" [disabled]="!FaqForm.form.valid" name="Save"/> 
    </div>
  </form>
</div>

<style>
  .is-invalid {
    border-color: red;
  }
  .invalid-feedback {
    color: red;
  }
</style>