<div class="container mt-5">
  <div class="card shadow-sm">
    <div class="card-header text-center bg-primary text-white">
      <h2>Coupon Code Details</h2>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="col">
          <p class="h5"><strong>Code:</strong></p>
        </div>
        <div class="col">
          <p class="h5">{{ newCouponCode.code }}</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <p class="h5"><strong>Description:</strong></p>
        </div>
        <div class="col">
          <p class="h5">{{ newCouponCode.couponCodeDescription }}</p>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col">
          <p class="h5"><strong>Amount:</strong></p>
        </div>
        <div class="col">
          <p class="h5">{{ newCouponCode.discountAmount }}</p>
        </div>
      </div>
     
      <div class="text-center">
        <button (click)="close()" class="btn btn-outline-secondary"  (click)="router.navigate(['/component/codes-list'])">Close</button>
      </div>
    </div>
  </div>
</div>

<style>
  .card {
    max-width: 600px;
    margin: 0 auto;
  }
  .h5 {
    margin-bottom: 0;
  }
</style>
