<div class="container">
  <a href="javascript:void(0)" (click)="openHelpModal()" style="position:absolute; right: 0; top: 30px;">Help</a>
    <h2>Event List</h2>
    <a class="btn btn-primary" routerLink="/component/event-create-update/0" routerLinkActive="active" >
      Add New
    </a> |
     <!-- Export to JSON Button -->


  <button  class="btn btn-secondary" (click)="exportToJson()">Export to JSON</button>
  <br>
  <br>

    <table datatable [dtOptions]="dtOptions" *ngIf="events.length>0"  class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Description</th>
          <th>Type</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let event of events">

          <td>{{ event.eventName }}</td>
          <td>{{ event.eventDate }}</td>
          <td>{{ event.eventTime }}</td>
          <td>{{ event.eventDescription }}</td>
          <td>{{ event.eventType }}</td>
          <td>{{ event.eventLocation}}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/event-create-update', event.eventId]" routerLinkActive="active" >Edit</a> |
            <button class="btn btn-danger btn-sm" (click)="deleteEvent(event.eventId)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

     <!-- Help Modal -->
<div class="modal" [ngClass]="{'show': showHelpModal}">
  <div class="modal-content">
    <span class="close" (click)="closeHelpModal()">&times;</span>
    <h2>Help-Events list</h2>
    <p>This page allows you to manage events within the system. Here are the available actions:</p>
        <ul>
          <li><strong>Add New Event:</strong> Click on the <em>"Add New"</em> button to add a new event. This will redirect you to the form where you can enter the details for a new event.</li>
          <li><strong>Export to JSON:</strong> Click on the <em>"Export to JSON"</em> button to export the event details to a JSON file.The file will be downloaded and saved to your local device.</li>
          <li><strong>View Events List:</strong> The table below displays all the services currently in the system, including their name, date, time, description, type and location.</li>
          <li><strong>Edit Event:</strong> To edit an event, click on the <em>"Edit"</em> button next to the event you want to modify. This will open a form pre-filled with the event's current information.</li>
          <li><strong>Delete Event:</strong> To delete an event, click on the <em>"Delete"</em> button next to the corresponding event. A confirmation dialog may appear to ensure you want to proceed with the deletion. Note that this action is irreversible.</li>
        </ul>
  </div>
</div>
  </div>

  <style>
    .help-text {
      cursor: pointer;
      color: #007bff;
      font-size: 16px;
      margin-right: 20px;
    }
    
    .help-icon {
      margin-right: 5px;
    }
    
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
      z-index: 1; /* Sit on top */
      overflow: auto; /* Enable scroll if needed */
    }
    
    .modal.show {
      display: flex; /* Show modal */
      align-items: center; /* Center vertically */
      justify-content: center; /* Center horizontally */
    }
    
    .modal-content {
      background-color: #fefefe;
      padding: 20px;
      border-radius: 8px; /* Rounded corners */
      border: 1px solid #888;
      width: 80%; /* Smaller width */
      max-width: 600px; /* Maximum width */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      position: relative; /* To position the close button */
    }
    
    .close {
      color: #aaa;
      position: absolute; /* Position relative to modal content */
      top: 10px;
      right: 15px;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
    }
    
    .rating-legend,
    .order-details {
      padding: 10px; /* Add some padding */
    }
    
    </style>
    
  
  
  
  