<form [formGroup]="hireItemsReturnForm" (ngSubmit)="onSubmit()">
  <div>
    <h1 style="color: #FF5F00;">Hire Items Return</h1>
    <label for="hireItemsReturnedName">Item Name:</label>
    <input id="hireItemsReturnedName" formControlName="hireItemsReturnedName" type="text" />
    
    <div *ngIf="hireItemsReturnForm.get('hireItemsReturnedName')?.invalid && hireItemsReturnForm.get('hireItemsReturnedName')?.touched">
      Item Name is required.
    </div>
  </div>

  <div>
    <label for="dateReturned">Return Date:</label>
    <input id="dateReturned" formControlName="dateReturned" type="date" />
    
    <div *ngIf="hireItemsReturnForm.get('dateReturned')?.invalid && hireItemsReturnForm.get('dateReturned')?.touched">
      Return Date is required.
    </div>
  </div>

  <div>
    <label for="condition">Condition:</label>
    <input id="condition" formControlName="condition" type="text" />
    
    <div *ngIf="hireItemsReturnForm.get('condition')?.invalid && hireItemsReturnForm.get('condition')?.touched">
      Condition is required.
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="hireItemsReturnForm.invalid">Submit</button>
  </div>
</form>
